li.bars{
    background-color: rgb(255, 166, 0);
    text-align: center;
    flex: 1;
    margin: 5px;
}
li.bars_swap{
    background-color: rgb(233, 138, 196);
    text-align: center;
    flex: 1;
    margin: 5px;
}
ul.bars_container{
    list-style-type: none;
    display: inline;
}